@using VendingMachine.Models
@model  List<ItemToSaleVM>
@{
    ViewBag.Title = "Vending Machine";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (Model.Count == 0)
{
    <div>Аппарат пуст</div>
}
else
{
    <div class="row">
        @foreach (ItemToSaleVM item in Model)
        {
            <div class="item-to-sale">
                <h2>@item.Name</h2>

                <div>
                    <label>Цена</label>@item.Price.ToString("C")
                </div>
                <div>
                    <label>Доступно</label>@item.AvailableCount шт.
                </div>
            </div>
        }
    </div>
}