@{Layout = null;}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="~/Content/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/site.css" rel="stylesheet">
    <script type="text/javascript" src="~/Scripts/jquery-1.9.1.min.js"></script>
    @RenderSection("header")
</head>
<body>
    <h1>Vending Machine</h1>

    <div class="container">
        @RenderBody()
    </div>
</body>
</html>
